/** @format */
/** @format */
/** @format */
header {
  margin-bottom: 4%; }

nav {
  padding: 0 3% 0 3%;
  margin: 1.5% 0 1.5% 0;
  display: flex;
  justify-content: space-between;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 18px; }
  nav span {
    text-decoration: underline; }
  nav img {
    height: 64px;
    width: 102px; }
  nav .side-menu {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    nav .side-menu .nav-boton {
      background: #f7c9f3;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
      font-family: 'Chakra Petch', sans-serif;
      font-size: 16px;
      width: 100px;
      height: 40px;
      letter-spacing: 0;
      line-height: 18px;
      text-align: center;
      padding: 2%; }
      nav .side-menu .nav-boton:hover {
        outline-style: dotted;
        outline-width: 1px;
        outline-offset: -5px; }
    nav .side-menu .nav-tema {
      display: flex;
      text-align: center; }
  nav a {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 18px;
    text-decoration: none; }

.arrow-button {
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  width: 20px; }
  .arrow-button:hover {
    outline-style: dotted;
    outline-width: 1px;
    outline-offset: -5px; }
  .arrow-button img {
    width: 10px;
    height: 6px; }

.dropdown-tema-content {
  display: none;
  width: 120px;
  position: absolute;
  flex-direction: column;
  background-color: #e6e6e6;
  /* 
  .active-dark {
    background: #2e32fb;
    border: 1px solid rgba(51, 53, 143, 0.2);
  }
  .active-ligth {
    background: #fff4fd;
    border: 1px solid #cca6c9;
  } */ }
  .dropdown-tema-content .dropdown-tema-button {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
    width: 100px;
    margin: 5px auto; }
  .dropdown-tema-content .active {
    box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
    background: #fff4fd;
    border: 1px solid #cca6c9; }

.dropdown-tema-button {
  padding: 5px; }

.dark-label {
  color: white; }

.dropdown-tema:hover .dropdown-tema-content {
  display: block; }
  .dropdown-tema:hover .dropdown-tema-content .dropdown-tema-button {
    display: block; }

.dark .dropdown-tema-content .active {
  background: #2e32fb;
  border: 1px solid rgba(51, 53, 143, 0.2); }
.dark nav a {
  color: #ffffff; }
.dark nav .side-menu .nav-boton {
  color: white;
  background: #ee3efe;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff; }
.dark nav .side-menu .arrow-button {
  color: white;
  background: #ee3efe;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff; }

/** @format */
form {
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
  width: 100%;
  height: 80px; }
  form .form-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translatey(40%);
    padding: 0 20px 0 20px;
    /* .darkButton {
      @include darkButton;
    } */ }
    form .form-panel input[type='text'] {
      width: 90%;
      padding: 10px;
      background: #ffffff;
      border: 1px solid #979797;
      box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000; }
    form .form-panel .form-boton {
      width: 5%;
      font-display: flex;
      display: flex;
      justify-content: center;
      margin-left: 10px;
      height: 30px;
      border: 1px solid #808080;
      box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff; }
    form .form-panel .active {
      background-color: #f7c9f3;
      color: black; }
    form .form-panel .inactive {
      color: #b4b4b4;
      background: #e6e6e6; }
    form .form-panel img {
      padding-right: 5px; }
  form .form-titulo {
    background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
    font-family: 'Chakra Petch', sans-serif;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0; }
  form .darkBar {
    background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%); }

.autocomplete {
  display: none;
  width: 100%;
  background: #e6e6e6;
  padding: 0.4%;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff; }
  .autocomplete button {
    width: 90%;
    height: 34px;
    font-family: 'Chakra Petch', sans-serif;
    text-align: left;
    font-size: 16px;
    margin: 0.4%;
    padding: 0.4%;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
    background: #f0f0f0;
    border: 1px solid #808080; }

#searchHistory {
  height: 30px;
  overflow: hidden; }
  #searchHistory span {
    display: inline-block;
    font-family: 'Chakra Petch', 'regular';
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0;
    line-height: 18px;
    background: #4180f6;
    border: 1px solid #4c2f99;
    box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
    text-align: center;
    padding: 5px;
    margin-right: 40px; }
  #searchHistory .darkSpan {
    background: #2e32fb; }

.dark form .form-panel .form-boton {
  color: white;
  background: #ee3efe;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff; }
.dark form .form-panel .inactive {
  color: #b4b4b4;
  background: #e6e6e6; }
.dark form .form-titulo {
  background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%); }
.dark #searchHistory span {
  background: #2e32fb; }

/** @format */
.sugerencias {
  margin-top: 4%;
  grid-template-rows: repeat(1, 250px); }
  .sugerencias p,
  .sugerencias h2 {
    width: 100%;
    height: 20px;
    background: #fffafe;
    border: 1px solid #e6bbe2;
    box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 14px;
    color: #110038;
    font-weight: normal;
    letter-spacing: 0; }
  .sugerencias .panel-grid {
    margin: 2% 40px;
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, 200px); }
    .sugerencias .panel-grid .gridItem {
      width: 100%;
      height: 100%; }
  .sugerencias .panel-grid {
    height: 210px;
    overflow: hidden; }
    .sugerencias .panel-grid p {
      border: none;
      box-shadow: none;
      font-family: 'Chakra Petch', sans-serif;
      font-size: 14px;
      color: #ffffff;
      letter-spacing: 0;
      background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%); }
    .sugerencias .panel-grid .darkBar {
      background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%); }
    .sugerencias .panel-grid span {
      background: #4180f6;
      border: 1px solid #4c2f99;
      box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
      font-family: 'Chakra Petch', sans-serif;
      font-size: 14px;
      color: #ffffff;
      letter-spacing: 0;
      text-align: center;
      padding: 4px;
      display: inline-block;
      transform: translateY(-150%);
      line-height: 18px; }
    .sugerencias .panel-grid .div-titulo-ventana {
      background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%); }
    .sugerencias .panel-grid .darkSpan {
      background: #2e32fb; }
    .sugerencias .panel-grid .sugeImg {
      width: 200px !important;
      height: 200px; }

.dark .sugerencias .panel-grid p {
  background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%); }
.dark .sugerencias .panel-grid .div-titulo-ventana {
  background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%); }

/** @format */
.tendencias {
  margin-top: 4%; }
  .tendencias p,
  .tendencias h2 {
    width: 100%;
    height: 20px;
    background: #fffafe;
    border: 1px solid #e6bbe2;
    box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 14px;
    color: #110038;
    font-weight: normal;
    letter-spacing: 0; }
  .tendencias .panel-grid {
    margin: 2% 40px;
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, 200px); }
    .tendencias .panel-grid .gridItem {
      width: 100%;
      height: 100%; }

/** @format */
.crear-gifos,
.panel-video-gifos {
  display: none;
  width: 700px;
  background-color: #e6e6e6;
  height: 400px;
  margin: auto; }
  .crear-gifos .titulo,
  .panel-video-gifos .titulo {
    background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
    font-family: 'Chakra Petch', sans-serif;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0;
    display: flex;
    justify-content: space-between; }
  .crear-gifos .crear-gifos-contenido,
  .panel-video-gifos .crear-gifos-contenido {
    display: flex;
    flex-direction: row;
    padding: 20px; }
    .crear-gifos .crear-gifos-contenido .gifos-contenido-texto,
    .panel-video-gifos .crear-gifos-contenido .gifos-contenido-texto {
      margin-left: 10px; }
      .crear-gifos .crear-gifos-contenido .gifos-contenido-texto :first-child,
      .panel-video-gifos .crear-gifos-contenido .gifos-contenido-texto :first-child {
        font-family: 'Chakra Petch', sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #110038;
        letter-spacing: 0;
        line-height: 22px;
        margin-bottom: 3%; }
      .crear-gifos .crear-gifos-contenido .gifos-contenido-texto p,
      .panel-video-gifos .crear-gifos-contenido .gifos-contenido-texto p {
        font-size: 14px;
        line-height: 20px;
        margin: 2%; }
        .crear-gifos .crear-gifos-contenido .gifos-contenido-texto p span,
        .panel-video-gifos .crear-gifos-contenido .gifos-contenido-texto p span {
          font-weight: bold; }
  .crear-gifos .gifos-panel-boton,
  .panel-video-gifos .gifos-panel-boton {
    display: flex;
    justify-content: flex-end; }
    .crear-gifos .gifos-panel-boton button,
    .panel-video-gifos .gifos-panel-boton button {
      padding: 10px;
      margin-left: 2%;
      font-family: 'Chakra Petch', sans-serif;
      font-size: 16px;
      color: #110038;
      letter-spacing: 0;
      text-align: center;
      line-height: 18px; }
    .crear-gifos .gifos-panel-boton #cancel,
    .panel-video-gifos .gifos-panel-boton #cancel {
      background: #fff4fd; }
    .crear-gifos .gifos-panel-boton #recording,
    .panel-video-gifos .gifos-panel-boton #recording {
      background: #f7c9f3; }

.panel-video-botones #stopRecording {
  display: none; }

.panel-video-grabar {
  width: 144px;
  height: 36px;
  display: none;
  justify-content: center;
  float: right; }
  .panel-video-grabar button {
    padding: 10px;
    width: 135px; }
  .panel-video-grabar img {
    padding: 0 5px; }

.panel-video-listo {
  display: none;
  float: right; }
  .panel-video-listo img {
    padding: 0 5px;
    background: #ff6161;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff; }
  .panel-video-listo button {
    background: #ff6161;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    color: #ffffff;
    width: 144px;
    height: 36;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px; }

.show-flex {
  display: flex; }

.panel-video-preview {
  display: none;
  width: 700px;
  background-color: #e6e6e6;
  height: 400px;
  margin: auto; }
  .panel-video-preview .titulo {
    background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
    font-family: 'Chakra Petch', sans-serif;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0; }
  .panel-video-preview .panel-preview-botones {
    margin-top: 4%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .panel-video-preview .panel-preview-botones .video-control {
      background: #f7c9f3;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
      height: 23px;
      text-align: center;
      width: 20px; }
      .panel-video-preview .panel-preview-botones .video-control img {
        margin: 30% 0; }
    .panel-video-preview .panel-preview-botones .time-duration {
      background: #ffffff;
      border: 1px solid #979797;
      box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
      padding: 1% 2%;
      width: 80px;
      text-align: center; }
  .panel-video-preview button {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    padding: 6px; }
  .panel-video-preview #repeatGif {
    background: #fff4fd; }
  .panel-video-preview #uploadGif {
    background: #f7c9f3; }
  .panel-video-preview video {
    width: 700px;
    height: 300px; }

.panel-mis-gifos {
  margin-top: 4%;
  height: 600px;
  margin-top: 4%;
  display: none;
  padding: 0 3% 0 3%;
  grid-template-rows: repeat(4, 200px); }
  .panel-mis-gifos p,
  .panel-mis-gifos h2 {
    width: 100%;
    height: 20px;
    background: #fffafe;
    border: 1px solid #e6bbe2;
    box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 14px;
    color: #110038;
    font-weight: normal;
    letter-spacing: 0; }
  .panel-mis-gifos .panel-grid {
    margin: 2% 40px;
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, 200px); }
    .panel-mis-gifos .panel-grid .gridItem {
      width: 100%;
      height: 100%; }

.show {
  display: block; }

#progressBar {
  width: 295px;
  height: 20px; }

#progress {
  height: 20px;
  display: inline-block; }

.ligth .panel-video-gifos {
  background-color: #e6e6e6; }
.ligth .panel-video-grabar button {
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff; }
.ligth .panel-video-grabar img {
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff; }
.ligth .panel-preview-botones button {
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  color: #110038; }
.ligth #progressBar {
  border: 1px solid #aaa;
  color: #fff;
  background-color: #999999; }
.ligth #progress {
  background: #f7c9f3; }

.dark {
  background-color: #110038; }
  .dark .title-bar {
    background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
    box-shadow: 0 1px 0 0 #110038; }
  .dark .crear-gifos .titulo,
  .dark .panel-video-gifos .titulo {
    background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%); }
  .dark .panel-video-grabar button {
    background: #ee3efe;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff; }
  .dark .panel-video-grabar img {
    background: #ee3efe;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff; }
  .dark .panel-video-preview .titulo {
    background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%); }
  .dark .panel-video-preview .panel-preview-botones .video-control {
    background: #ee3efe; }
  .dark .panel-video-preview .panel-preview-botones #repeatGif {
    background: #110038;
    color: #ffffff;
    border: 1px solid #b4b4b4;
    box-shadow: inset -1px -1px 0 0 #5c5c5c, inset 1px 1px 0 0 #fff4fd; }
  .dark #progress {
    background: #ee3efe; }

.show {
  display: block; }

/** @format */
.busqueda {
  display: none; }

.busqueda-show {
  display: block;
  margin-top: 4%; }
  .busqueda-show p,
  .busqueda-show h2 {
    width: 100%;
    height: 20px;
    background: #fffafe;
    border: 1px solid #e6bbe2;
    box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 14px;
    color: #110038;
    font-weight: normal;
    letter-spacing: 0; }
  .busqueda-show .panel-grid {
    margin: 2% 40px;
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, 200px); }
    .busqueda-show .panel-grid .gridItem {
      width: 100%;
      height: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #fff4fd; }

button {
  outline: none; }

.body-dark {
  background-color: #110038; }

section {
  padding: 0 3% 0 3%; }

.title-bar {
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  padding: 0; }

.darkBar {
  background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%); }

input[type='text'] {
  outline: none; }

.titulo {
  display: flex;
  justify-content: space-between; }

/*# sourceMappingURL=styles.css.map */
