/** @format */

@mixin background-panel-button {
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}
@mixin background-panel-button-dark {
  background: #ee3efe;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
}
@mixin button {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  padding: 10px 40px;
}

@mixin ligth {
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}
@mixin dark {
  background: #ff6161;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #993a3a, inset 1px 1px 0 0 #ffffff;
}
@mixin background-panel {
  width: 700px;
  background-color: #e6e6e6;
  height: 400px;
  margin: auto;
}
@mixin background-panel-dark {
  background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
}
@mixin background-panel-ligth {
  background-color: #e6e6e6;
}
@mixin titulo {
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  font-family: 'Chakra Petch', sans-serif;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
}

.titulo {
  @include titulo;
}
.crear-gifos,
.panel-video-gifos {
  display: none;
  @include background-panel;
  .titulo {
    display: flex;
    justify-content: space-between;
  }
  .crear-gifos-contenido {
    display: flex;
    flex-direction: row;
    padding: 20px;
    .gifos-contenido-texto {
      margin-left: 10px;
      :first-child {
        font-family: 'Chakra Petch', sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #110038;
        letter-spacing: 0;
        line-height: 22px;
        margin-bottom: 3%;
      }
      p {
        font-size: 14px;
        line-height: 20px;
        margin: 2%;
        span {
          font-weight: bold;
        }
      }
    }
  }
  .gifos-panel-boton {
    display: flex;
    justify-content: flex-end;
    button {
      @include button;
      padding: 10px;
      margin-left: 2%;
      color: #110038;
    }
    #cancel,
    #cancelUpload {
      background: #fff4fd;
    }
    #recording {
      background: #f7c9f3;
    }
  }
}
.panel-video-botones {
  #stopRecording {
    display: none;
  }
}
.panel-video-grabar {
  width: 144px;
  height: 36px;
  display: none;
  justify-content: center;
  float: right;

  button {
    padding: 10px;
    width: 135px;
  }
  img {
    padding: 0 5px;
  }
}
.panel-video-listo {
  display: none;
  float: right;
  img {
    padding: 0 5px;
    @include dark;
  }
  button {
    @include dark;
    @include button;
    color: #ffffff;
    width: 144px;
    height: 36;
  }
}
.show-flex {
  display: flex;
}
.panel-video-preview {
  display: none;
  @include background-panel;

  .panel-preview-botones {
    margin-top: 4%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .video-control {
      background: #f7c9f3;
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
      height: 23px;
      text-align: center;
      width: 20px;
      img {
        margin: 30% 0;
      }
    }
    .time-duration {
      background: #ffffff;
      border: 1px solid #979797;
      box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
      padding: 1% 2%;
      width: 80px;
      text-align: center;
    }
  }
  button {
    @include button;
    padding: 6px;
  }
  #repeatGif {
    background: #fff4fd;
  }
  #uploadGif {
    background: #f7c9f3;
  }

  video {
    width: 700px;
    height: 300px;
  }
}

.panel-mis-gifos {
  @include panelLayout;
  height: 600px;
  margin-top: 4%;
  display: none;
  padding: 0 3% 0 3%;
  grid-template-rows: repeat(4, 200px);
}

.panel-cargando-subida {
  display: none;
  @include background-panel;
  .panel-carga-img {
    background: white;
    height: 75%;
    width: 95%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      font-family: 'Chakra Petch', sans-serif;
      font-size: 16px;
      font-weight: bold;
      color: #110038;
      letter-spacing: 0;
      text-align: center;
      line-height: 22px;
    }
  }
  .panel-subida-botones {
    text-align: right;
    button {
      @include button;
    }
  }
}
.panel-subida-exito {
  @include background-panel;
  display: none;
  .panel-exito-datos {
    display: flex;
    height: 60%;
    align-items: center;
    padding: 4%;
  }
  button {
    @include button;
    margin-left: 70%;
    margin-top: 14%;
    background: #f7c9f3;
  }

  .panel-exito-botones {
    img {
      width: 350px;
      height: 180px;
    }
    margin: auto;
    p {
      font-weight: bold;
    }
    button {
      background: #fff4fd;
      display: flex;
      flex-direction: column;
      margin: 10px 0;
    }
  }
}

#progressBar {
  width: 295px;
  height: 20px;
}
#progress {
  height: 20px;
  display: inline-block;
}

.ligth {
  .panel-video-gifos {
    @include background-panel-ligth;
  }
  .panel-video-grabar {
    button {
      @include background-panel-button;
    }
    img {
      @include background-panel-button;
    }
  }

  .panel-preview-botones {
    button {
      border: 1px solid #110038;
      box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
      color: #110038;
    }
  }
  #progressBar {
    border: 1px solid #aaa;
    color: #fff;
    background-color: #999999;
  }
  #progress {
    background: #f7c9f3;
  }
}

.dark {
  background-color: #110038;
  .titulo {
    background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
  }
  .title-bar {
    background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
    box-shadow: 0 1px 0 0 #110038;
  }

  .panel-video-grabar {
    button {
      @include background-panel-button-dark;
    }
    img {
      @include background-panel-button-dark;
    }
  }

  .panel-video-preview {
    .titulo {
      background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
    }
    .panel-preview-botones {
      .video-control {
        background: #ee3efe;
      }
      #repeatGif {
        background: #110038;
        color: #ffffff;
        border: 1px solid #b4b4b4;
        box-shadow: inset -1px -1px 0 0 #5c5c5c, inset 1px 1px 0 0 #fff4fd;
      }
    }
  }

  #progress {
    background: #ee3efe;
  }
}
.panel-cargando-subida {
  text-align: right;
}

.show {
  display: block;
}
