/** @format */

//Css heades and Nav
header {
  margin-bottom: 4%;
}
nav {
  padding: 0 3% 0 3%;
  margin: 1.5% 0 1.5% 0;
  display: flex;
  justify-content: space-between;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 18px;
  span {
    text-decoration: underline;
  }
  img {
    height: 64px;
    width: 102px;
  }
  .side-menu {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .nav-boton {
      @include ligthButton;
      font-family: 'Chakra Petch', sans-serif;
      font-size: 16px;
      width: 100px;
      height: 40px;
      letter-spacing: 0;
      line-height: 18px;
      text-align: center;
      padding: 2%;
      &:hover {
        outline-style: dotted;
        outline-width: 1px;
        outline-offset: -5px;
      }
    }

    .nav-tema {
      display: flex;
      text-align: center;
    }
  }
  a {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 18px;
    text-decoration: none;
  }
}
.arrow-button {
  @include ligthButton;
  width: 20px;
  &:hover {
    outline-style: dotted;
    outline-width: 1px;
    outline-offset: -5px;
  }
  img {
    width: 10px;
    height: 6px;
  }
}
.dropdown-tema-content {
  display: none;
  width: 120px;
  position: absolute;
  flex-direction: column;
  background-color: #e6e6e6;
  .dropdown-tema-button {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
    width: 100px;
    margin: 5px auto;
  }

  .active {
    box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
    background: #fff4fd;
    border: 1px solid #cca6c9;
  }
  /* 
  .active-dark {
    background: #2e32fb;
    border: 1px solid rgba(51, 53, 143, 0.2);
  }
  .active-ligth {
    background: #fff4fd;
    border: 1px solid #cca6c9;
  } */
}
.dropdown-tema-button {
  padding: 5px;
}
.dark-label {
  color: white;
}
.dropdown-tema {
  &:hover {
    .dropdown-tema-content {
      display: block;
      .dropdown-tema-button {
        display: block;
      }
    }
  }
}
.ligth {
}
.dark {
  .dropdown-tema-content {
    .active {
      background: #2e32fb;
      border: 1px solid rgba(51, 53, 143, 0.2);
    }
  }
  nav {
    a {
      color: #ffffff;
    }
    .side-menu {
      .nav-boton {
        @include darkButton;
      }
      .arrow-button {
        @include darkButton;
      }
    }
  }
}
