/** @format */

@import './variables.scss';
@import './header.scss';
@import './formBusqueda.scss';
@import './sugerencias.scss';
@import './tendencias.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff4fd;
}
button {
  outline: none;
}
.body-dark {
  background-color: #110038;
}
section {
  padding: 0 3% 0 3%;
}
.title-bar {
  @include ligthBar;
  padding: 0;
}
.darkBar {
  @include darkBar;
}
input[type='text'] {
  outline: none;
}
