/** @format */

@mixin textBox {
  width: 100%;
  height: 20px;
  background: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 14px;
  color: #110038;
  font-weight: normal;
  letter-spacing: 0;
}

@mixin ligthButton {
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

@mixin ligthBar {
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
}
@mixin darkButton {
  color: white;
  background: #ee3efe;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
}

@mixin darkBar {
  background-image: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
}

@mixin darkSpan {
  background: #2e32fb;
}
@mixin panelLayout {
  margin-top: 4%;
  p,
  h2 {
    @include textBox;
  }
  .panel-grid {
    margin: 2% 40px;

    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, 200px);

    .gridItem {
      width: 100%;
      height: 100%;
    }
  }
}
